<%= form_for [@shop, @shop.appointments.build] do |f|%>
  <div class='form-group'>
    <div><%= f.label :scheduled_at, "Date & Time" %></div>
    <div><%= f.date_field :scheduled_at, class: 'form-control' %></div>
    <div><%= f.label :service_id, "Procedure" %></div>
    <div><%= f.select :service_id, @shop.services.map { |s| [s.name, s.id]} ,class: 'form-control' %></div>
    <div><%= f.label :body, "Message" %></div>
    <div><%= f.text_area :body, class: 'form-control' %></div>

    <div><%= f.label :phone, "Phone" %></div>
    <div><%= f.text_field :phone, class: 'form-control' %></div>
    <div><%= f.submit "Send" , class: 'btn-success btn' %></div>
  </div>
<% end %>