<%= div_for shop do %>
  <div class='row'>
    <div class='col-md-3'>
      <p>
        <!-- <#%= image_tag 'clinic_holder.jpg', alt: 'clinic!', class: 'img-thumbnail' %> -->
        <%= image_tag shop.photos.main_only.name.url, :width => 200 %>
      </p>
    </div>
    <div class='col-md-6'>
      <div>
        <h3><%= link_to shop.name, shop_path(shop) %></h3>
      </div>
      <div>
        
          Reviews: <span class='review' data-score='<%= shop.average_score %>'></span><span>(<%= shop.reviews.count %>)</span>
        
      </div>
      <div class='row'>
        <% shop.locations.pluck(:city, :address).uniq.each do |location| %>
        <div class='col-md-3'>
          <%= location[0] %>
        </div>
        <div class='col-md-9'>
          <%= location[1] %>
        </div>
        <% end %>
      </div>
      <!-- <p><#%= shop.highlights %></p> -->
      <!-- <table class='table'>
        <thead>
          <tr>
            <th>City</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
        <#% shop.locations.pluck(:city, :address).uniq.each do |location| %>
          <tr>
            <td><#%= location[0] %></td>
            <td><#%= location[1] %></td>
          </tr>
        <#% end %>
        </tbody>
      </table> -->
    </div>
    <div class='col-md-3'>
      <div>
        <%= link_to "Select Clinic", shop_path(shop), class: "btn btn-primary btn-block" %>
      </div>
      <!-- <#%= link_to "Show on Map", shop_path(shop), class: "btn btn-primary btn-block" %> -->
    </div>
  </div>
<% end %>     