<%= div_for shop do %>
  <div class='row'>
    <div class='col-md-3'>
      <p>
        <%= image_tag shop.photos.main_only.name.url, :width => 200 %>
      </p>
    </div>
    <div class='col-md-6'>
      <div>
        <h4><%= link_to shop.name, shop_path(shop) %></h4>
      </div>
      <div>
        Reviews: <span class='review' data-score='<%= shop.average_score %>'></span><span>(<%= shop.reviews.count %>)</span>
      </div>
      <div>
        <% shop.locations.pluck(:city, :address, :tel).uniq.each do |location| %>
        <div>
          <p>City: <%= location[0] %></p>
        </div>
        <div>
          <p>Address: <%= location[1] %></p>
        </div>
        <div>
          <p>Tel: <%= location[2] %></p>
        </div>
        <% end %>
      </div>
    </div>
    <div class='col-md-3'>
      <%= link_to "Select Clinic", shop_path(shop), class: "btn btn-primary btn-block" %>
    </div>
<% end %>
</div>    