<%= div_for shop do %>
  <div class='row'>
    <div class='col-md-3'>
      <!-- <#%= image_tag shop.photos.main_only.name.url, :width => 200 %> -->
    </div>
    <div class='col-md-7'>
      <div>
        <h4><%= link_to shop.name, shop_path(shop) %></h4>
      </div>
      <div>
        <b>Reviews:</b> <span class='review' data-score='<%= shop.average_score %>'></span><span>(<%= shop.reviews.count %>)</span>
      </div>
      <div>
        <% shop.locations.pluck(:city, :address, :tel, :url).uniq.each do |location| %>
        <div>
          <p><b>City</b> <%= location[0] %></p>
        </div>
        <div>
          <p><b>Address</b> <%= location[1] %></p>
        </div>
        <div>
          <p><b>Tel</b> <%= location[2] %></p>
        </div>
        <div>
          <p><b>Website</b> <%= location[3] %></p>
        </div>
        <% end %>
      </div>
    </div>
    <div class='col-md-2'>
      <%= link_to "Select Clinic", shop_path(shop), class: "btn btn-primary btn-block" %>
    </div>
<% end %>
</div>    