<%= form_for @clinic_request do |f| %>

<div class='form-group'>
  <%= f.label :name, ClinicRequest::QUESTIONS[:name] %>
  <div>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :phone, ClinicRequest::QUESTIONS[:phone] %>
  <div>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :email, ClinicRequest::QUESTIONS[:email] %>
  <div>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :clinic_name, ClinicRequest::QUESTIONS[:clinic_name] %>
  <div>
    <%= f.text_field :clinic_name, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :shop_info, ClinicRequest::QUESTIONS[:shop_info] %>
  <div>
    <%= f.text_area :shop_info, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :location, ClinicRequest::QUESTIONS[:location] %>
  <div>
    <%= f.text_area :location, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :staff_info, ClinicRequest::QUESTIONS[:staff_info] %>
  <div>
    <%= f.text_area :staff_info, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <%= f.label :legal, ClinicRequest::QUESTIONS[:legal] %>
  <div>
    <%= f.text_area :legal, class: 'form-control' %>
  </div>
</div>

<div>
  <%= f.submit %>
</div>


<% end %>