<div class='row'>
  <div class='col-md-4'>
    <%= image_tag 'left_header.png', alt: 'left_header!', class: 'img-thumbnail' %>
  </div>
  <div class='col-md-4'>
    <h4>Find a clinic</h4>
      <%= render 'application/search' %>
  </div>

  <div class='col-md-4'>
    <%= image_tag 'right_header.jpg', alt: 'right_header!', class: 'img-thumbnail' %>
  </div>

  </div>

<div class='row'>
  <div class='col-md-12'>
    <%= image_tag 'home_footer_holder.png', alt: 'home_footer!', class: 'img-thumbnail' %>
  </div>
</div>

<div class='row'>
  <%= link_to "All Shops", shops_path %>
</div>