<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class='container'>
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'ca_logo.png', alt: 'clinic!', class: 'img-thumbnail', width: '200px' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= activeable_link_to "Home", root_path %>
        <%= activeable_link_to "All Clinics", shops_path %>
        <%= activeable_link_to "New Clinic", new_shop_path if admin_user_signed_in? %>
      </ul>
      <ul id='right-navbar' class='nav navbar-nav navbar-right'>
        <%= render user_nav %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</div>