<%= form_tag shops_path, method: :get do %>
<div>
  <h5>Category</h5>
  <%= select_tag :category_id, options_for_select(Category.all.collect { |c| [c.name, c.id]}), prompt: "", class: 'form-control' %>
</div>
<div>
  <h5>Procedure</h5>
  <%= select_tag :service, options_for_select(Service.distinct_by_name), prompt: "", class: 'form-control' %>
</div>
<div>
  <h5>Location</h5>
  <%= select_tag :city, options_for_select(Location.distinct_cities), prompt: "", class: 'form-control' %>
</div>
<div>
  <%= submit_tag "Search Now", class: 'btn btn-success btn-block', id: 'search_button' %>
</div>
<% end %>